* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}


